<?xml version="1.0" encoding="UTF-8"?>

<nocToolsApp-Settings>
	<paths>
		<iconsDir>c:\noctools\icons\</iconsDir>
		<rdpDir>c:\noctools\rdp\</rdpDir>
		<scriptsDir>c:\noctools\scripts\</scriptsDir>
		<tempRdpDir>c:\noctools\rdp\temp\</tempRdpDir>
		<logsDir>c:\noctools\logs\</logsDir>
		<serverLogsDir>c:\Program Files (x86)\Useful GPRS-3G-Bluetooth VOIP\bins\logs\</serverLogsDir>
		<localServerLogsDir>c:\noctools\ServerLogs\</localServerLogsDir>
		<server7zipLocation>c:\installs\7zip\7za.exe</server7zipLocation>
		<local7zipLocation>c:\noctools\7za.exe</local7zipLocation>
	</paths>
	<rdpSettings>
		<useCredentialsManager>yes</useCredentialsManager>
		<desktopHeight>1024</desktopHeight>
		<desktopWidth>1280</desktopWidth>
		<rdpRestriction>yes</rdpRestriction>
		<rdpMaxNum>20</rdpMaxNum>
		<screenModeId>2</screenModeId>
		<useDns>yes</useDns>
	</rdpSettings>
	<treeViewSettings>
		<showFarms>yes</showFarms>
		<showCountries>yes</showCountries>
		<showLinks>yes</showLinks>
		<showServerPopupMenu>yes</showServerPopupMenu>
		<useShortServerNames>yes</useShortServerNames>
		<doubleClickOnServerOpensRdp>no</doubleClickOnServerOpensRdp>
		<doubleClickOnEmptyCollapsesTree>yes</doubleClickOnEmptyCollapsesTree>
		<rightClickOnEmptyClearsSelection>yes</rightClickOnEmptyClearsSelection>
	</treeViewSettings>
	<configXmls>
		<file>
			<fullPath>C:\noctools\config111.xml</fullPath>
		</file>
		<file>
			<fullPath>C:\noctools\config.xml</fullPath>
		</file>
		<exclude>fringilapps8.fring.com</exclude>
	</configXmls>
	<users>
		<user>
			<name>a1111</name>
			<pass>857ed856b668c7263b8ae20227400547</pass>
		</user>
		<user>
			<name>remote2</name>
			<pass>8fa79f3deea268ce1c2caa37a304d997</pass>
		</user>
		<user>
			<name>remote3</name>
			<pass>e2c299631d4ae8f7f7e4c97d6b02d065</pass>
		</user>
		<user>
			<name>fddfdf</name>
			<pass>2980bbdb5efc5038530a15e8a1491e87</pass>
		</user>
		<user>
			<name>remote1</name>
			<pass>3fd1804c93a7cbfd631363d105f42cd2</pass>
		</user>
	</users>
	<emails>
		<email>noc.fring@fring.com</email>
	</emails>
	<dbSettings>
		<dbAddress></dbAddress>
		<dbUser></dbUser>
		<dbName></dbName>
		<webDB>http://10.10.10.69:6060/</webDB>
	</dbSettings>
	<serverStartupSettings>
		<showServerStartupPanel>no</showServerStartupPanel>
		<startupScriptDelay>1</startupScriptDelay>
		<startupScriptFile>AutoLoadApps.exe</startupScriptFile>
		<lastStartupScriptFile>AutoLoadAndKill.exe</lastStartupScriptFile>
		<skypeCounterScriptFile>pstasklist.exe</skypeCounterScriptFile>
		<skypeCounterLogsDir>c:\noctools\startup\</skypeCounterLogsDir>
		<waitBetweenRemotes>10000</waitBetweenRemotes>
		<maxWaitBetweenRemotes>10001</maxWaitBetweenRemotes>
		<countSkypes>yes</countSkypes>
		<countSkypesAfterMaxWait>no</countSkypesAfterMaxWait>
		<testConnection>no</testConnection>
		<maxFailuresPerServer>7</maxFailuresPerServer>
		<maxConnectionFailuresPerServer>2</maxConnectionFailuresPerServer>
		<maxPsexecFailuresPerServer>1</maxPsexecFailuresPerServer>
	</serverStartupSettings>
	<showTreeButtons>yes</showTreeButtons>
	<showWorkMode>yes</showWorkMode>
	<documentationLink>http://dataserver/index.php?title=NocTools</documentationLink>
	<linksSettingsXml>c:\noctools\links.xml</linksSettingsXml>
	<scriptsXml>c:\noctools\scripts.xml</scriptsXml>
	<miniserversPerRemote>80</miniserversPerRemote>
	<showRemoteButtons>no</showRemoteButtons>
	<loggingLevel>debug 
		<!--For logging level use: debug / info / error-->
	</loggingLevel>
</nocToolsApp-Settings>
